@mixin fontFace($family,$src,$style: normal,$weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.ttf') format('truetype'),
    url('#{$src}.otf') format('opentype');
  font-style: $style;
    font-weight: $weight;
  }
}
