

$side-length: 246px;


body {
  margin: 0;
  padding: 0 0 0 $side-length;
  background-color: #F4F7F8;
  position: inherit !important;
  font-family: "Montserrat";
  color: #8899AA;
  font-size: 11px;
}

#app {
  padding-top: 50px;
}

.sub-title-font {
  font-size: 12px !important;
  color: #333333 !important;
}

.white-background {
  background-color: #FFFFFF;
  border: 1px solid #C3C8CD;
  border-radius: 3px;
}

.row {
  max-width: 90%;
  margin-left: 35px;
  margin-bottom: 17px;
}
.column,.-columns {
  padding: 0;
}

// Side bar section

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $side-length;
  color: #D18EE2;
  background-color: #702283;
  height: 100%;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4C1367;
}

.nav-footer {
  position: fixed;
  bottom: 20px;
  margin-top: 10px;
  width: $side-length;
}


.powered-by {
  font-size: 11px;
}

.side-nav {
  margin: 0;
  padding: 0;
}

.side-nav li {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.side-nav li a,.side-nav li a:visited {
  line-height: 66.87px;
  padding: 0 0 0 68px !important;
}

.side-nav li a:hover,.side-active {
  color: white !important;
  background-color: rgba(76, 19, 103, 0.5) !important;
  box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367;
}

.color-bar {
  height: 40.92px;
  width: 6px;
  background-color: #65B32E;
  border-radius: 0 17px 17px 0;
  float: left;
  margin-top: 50%;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.button {
  padding: 0
}

.button-updated {
  height: 44px;
  width: 100%;
  border-radius: 5px;
  background-color: #8899AA;
  font-size: 14px;
  line-height: 19px;
}

.selection {
  box-sizing: border-box;
  height: 33px;
  width: 111.15px;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #8899AA;
  font-size: 11px;
  line-height: 15px;
}

.padding-less {
  padding: 0;
}

.action-product {
  height: 50px;
  color: #8899AA;
  font-size: 12px;
  line-height: 16px;
}

.middle {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.company-name {
  color: #626272;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.sub-title {
  color: #8899AA;
  font-size: 12px;
  line-height: 16px;
}

.orderTable {
  box-sizing: border-box;
  border: 1px solid rgba(201, 201, 201, 0.69);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.table-header {
  background-color: #FFFFFF;
}

.dropdown-background {
  opacity: 0.7;
  background-color: #333333;
  position: fixed;
  top: 0;
  left: $side-length;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.dropdown-background-out {
  opacity: 0;
  animation: fadeoutshow 1s;
  -moz-animation: fadeoutshow 1s;
  -webkit-animation: fadeoutshow 1s;
  -o-animation: fadeoutshow 1s;
}

.total-price {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 292px;
  height: 252px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.input-text {
  height: 28px !important;
  width: 91.4px !important;
  border: 1px solid #8899AA !important;
  border-radius: 4px !important;
  margin: 0 !important;
}
