<template>
    <section id="header">
      <div class="wrapper content">
        <div class="row">
          <div class="large-12 columns ">
            <h3>Orders / TN SO 000015</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-9 columns white-background">
            <div class="row">
              <div class="large-6 columns">
                <div id="companyName" class="company-name">CPF Saraburi</div>
                <div id = "address" class="sub-title">High Way2, Kaeng Khoi Saraburi Thailand</div>
                <div id = "phone" class="sub-title">+66 087 348 7934</div>
              </div>
              <div class="large-2 columns text-center">
                <span id="sellType">Type</span>
                <select id="sellTypeSelection" class="selection">
                  <option>Retailers</option>
                  <option>Merchant</option>
                </select>
              </div>
              <div class="large-2 columns text-center">
                <span id="ownedBy">Owned By</span>
                <select id="ownedBySelection" class="selection">
                  <option>Tom Hanks</option>
                </select>
              </div>
              <div class="large-2 columns text-center">
                <span id="status">Status</span>
                <select id="statusSelection" class="selection">
                  <option>Pending</option>
                </select>
              </div>
            </div>
          </div>
          <div class="large-3 columns text-center">
            <div class="row">
              <div class="large-6 columns text-center">
                Back
              </div>
              <div class="large-6 columns padding-less">
                <button class="button button-updated">
                  Update Order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: 'order'
}
</script>
