<template>
  <table class="orderTable">
    <thead>
    <tr>
      <th class="table-header" v-for="key in columns" v-on:click="sortBy(key)" v-bind:class="{ active: sortKey == key }">
          <span>{{ key | capitalize }}</span>
          <span v-if="sortKey == key" class="arrow" v-bind:class=" sortOrders[key] > 0 ? 'asc' : 'dsc' ">
          </span>
      </th>
      <th class="table-header"></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(entry,index) in filteredData">
      <td v-for="key in columns">
        <span>{{entry[key]}}</span>
        <span v-if="key == 'qty'">
          <a v-on:click="$emit('remove')">
            <img style="width: 17px" src="../../public/img/icons/icon_edit.svg" >
          </a>
        </span>
      </td>
      <td>
        <a class="link-with-underline" v-on:click="remove(index)">Remove Item</a>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default
{
  name: 'order-detail',
  props: {
    data: Array,
    columns: Array
  },
  data: function ()
  {
    var sortOrders = {};
    this.columns.forEach(function (key) {
      sortOrders[key] = 1;
    });
    return {
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed:
  {
    filteredData: function ()
    {
      var sortKey = this.sortKey;
      var filterKey = this.filterKey && this.filterKey.toLowerCase();
      var order = this.sortOrders[sortKey] || 1;
      var data = this.data;
      if (filterKey)
      {
        data = data.filter(function (row)
        {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
          });
        })
      }
      if (sortKey)
      {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        });
      }
      return data;
    }
  },
  filters:
  {
    capitalize: function (str)
    {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  },
  methods:
  {
    sortBy: function (key)
    {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
    },
    remove: function(key)
    {
      this.data.splice(key, 1);
    }
  }
}
</script>

<style scoped>

  table
  {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
  }

  th.active .arrow
  {
    opacity: 1;
  }

  table tr:nth-of-type(even)
  {
    background-color: #F8F8F8;
  }

  .arrow
  {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc
  {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #C9C9C9;
  }

  .arrow.dsc
  {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #C9C9C9;
  }

  .link-with-underline
  {
    text-decoration: underline;
  }

</style>
