<template>
  <section id="button-action-bar">
    <div id="dropdown-background" v-on:click="addProduct()"></div>
    <div class="row wrapper">
      <div class="large-12 columns">
        <div id="addProductButton" class="row">
          <div id="product-title" v-on:click="addProduct()"
               class="large-12 columns action-product white-background middle">
              <span class="middle">
                <img class="icon" src="../../public/img/icons/icon_plus.svg"/> {{ orderTitle }}
              </span>
          </div>
        </div>
        <div v-if="show" class="popup">
          <div class="row">
            <div class="large-12 columns padding-less">
              <table id="add-product">
                <tbody>
                <tr v-for="(entry,index) in filteredData">
                  <td v-for="key in columns">
                    <span v-if="key == 'qty'">
                      <input type="number" v-model="entry[key]"/>
                    </span>
                    <span v-else>
                      {{entry[key]}}
                    </span>
                  </td>
                  <td>
                    <button>Add</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default
  {
    name: 'product',
    props:
    {
      data: Array,
      columns: Array
    },
    data ()
    {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      });
      return {
        sortKey: '',
        sortOrders: sortOrders,
        show: false,
        orderTitle: "Add product"
      }
    },
    methods:
    {
      addProduct: function ()
      {
        if (this.show)
        {
          this.show = false;
          this.orderTitle = "Add product";
          $("#product-title").removeClass("popup");
          $("#dropdown-background")
            .addClass("dropdown-background-out")
            .removeClass("dropdown-background");
        } else
        {
          this.show = true;
          this.orderTitle = "TN SO 000015";
          $('#product-title').addClass("popup");
          $('#dropdown-background')
            .addClass("dropdown-background")
            .removeClass("dropdown-background-out");
        }
      },
      sortBy: function (key)
      {
        this.sortKey = key;
        this.sortOrders[key] = this.sortOrders[key] * -1;
      },
      remove: function (key)
      {
        this.data.splice(key, 1);
      }
    },
    computed:
    {
      filteredData: function ()
      {
        var sortKey = this.sortKey;
        var filterKey = this.filterKey && this.filterKey.toLowerCase();
        var order = this.sortOrders[sortKey] || 1;
        var data = this.data;
        if (filterKey)
        {
          data = data.filter(function (row)
          {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
            })
          })
        }
        if (sortKey)
        {
          data = data.slice().sort(function (a, b)
          {
            a = a[sortKey];
            b = b[sortKey];
            return (a === b ? 0 : a > b ? 1 : -1) * order;
          });
        }
        return data;
      }
    },
    filters:
    {
      capitalize: function (str)
      {
        return str.charAt(0).toUpperCase() + str.slice(1);
      }
    }
  }
</script>

<style scoped>

  table
  {
    position: absolute;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
  }

  th.active .arrow
  {
    opacity: 1;
  }

  table tr:nth-of-type(even)
  {
    background-color: #F8F8F8;
  }

  #addProductButton
  {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .wrapper
  {
    position: relative;
    padding: 0;
  }

  .popup
  {
    z-index: 10;
    position: relative;
    animation: fadeinshow 1s;
    -moz-animation: fadeinshow 1s;
    -webkit-animation: fadeinshow 1s;
    -o-animation: fadeinshow 1s;
  }

  #add-product
  {
    width: 100%;
  }

  .icon
  {
    width: 17px;
    height: 17px;
  }

  @keyframes fadein
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 0.7;
    }
  }

  @-moz-keyframes fadein
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 0.7;
    }
  }

  @-webkit-keyframes fadein
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 0.7;
    }
  }

  @-o-keyframes fadein
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 0.7;
    }
  }

  @keyframes fadeinshow
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeinshow
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeinshow
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 1;
    }
  }

  @-o-keyframes fadeinshow
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 1;
    }
  }

  @keyframes fadeoutshow
  {
    from
    {
      opacity: 0.7;
    }
    to
    {
      opacity: 0;
    }
  }

</style>
