<template>
  <nav class="sidebar">
    <div>
      <div class="logo text-center">
        <img src="public/img/icons/logo-white.svg" >
      </div>
      <div class="menu-section">
        <ul id="sideNav" class="side-nav">
          <li v-for="item in items">
            <a :href="item.link" class="icon" v-bind:class="{ 'side-active': item.selected }" v-on:click="selectItem(item)">{{ item.menu }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-footer text-center">
      <div class="powered-by text-center">POWERED BY</div>
      <img style="width: 113px" src="public/img/icons/logo-white.svg" >
    </div>
  </nav>
</template>

<script>
export default {
  name: 'side-bar',
  data()
  {
    return {
      items: [
        {menu: "Dashboard", link: "#Dashboard", selected: false},
        {menu: "Order", link: "#Order", selected: false},
        {menu: "Companies", link: "#Companies", selected: false},
        {menu: "Products", link: "#Products", selected: false},
        {menu: "Pricing", link: "#Pricing", selected: false},
        {menu: "Brands", link: "#Brands", selected: false},
        {menu: "Settings", link: "#Settings", selected: false},
        {menu: "Reports", link: "#Reports", selected: false},
        {menu: "Account Users", link: "#Account_users", selected: false}
      ]
    }
  },
  methods:
  {
    selectItem: function(item)
    {
      var indexOfCurr = -1;
      for(var i = 0; i < this.items.length; i++)
      {
        if(this.items[i].selected == true)
        {
           indexOfCurr = i;
        }
      }

      if(indexOfCurr == -1)
      {
        item.selected = true;
      }else
      {
        this.items[indexOfCurr].selected = false;
        item.selected = true;
      }
    }
  }
}
</script>

