<template>
  <div id="app">
    <side-bar></side-bar>
    <order></order>
    <product :data="gridDataProduct"
             :columns="gridColumns"></product>
    <section id="order-detail">
      <div class="row">
        <div class="large-12 columns padding-less">
          <div id="order-table">
            <OrderDetail
              :data="gridData"
              :columns="gridColumns">
            </OrderDetail>
          </div>
        </div>
      </div>
    </section>
    <remark></remark>
    <div class="row wrapper">
      <div class="large-12 columns action-product middle">
        <div class="total-price">
          <div class="row">
            <div class="large-6 columns text-right">Estimated Delivery Date</div>
            <div class="large-6 columns text-left"><input class="input-text" type="text" placeholder="14-10-2016" /> </div>
          </div>
          <hr>
          <div class="row">
            <div class="large-6 columns text-right">Sub-total</div>
            <div class="large-6 columns text-left">40,033</div>
          </div>
          <div class="row">
            <div class="large-6 columns text-right">Shipping</div>
            <div class="large-6 columns text-left"><input class="input-text" placeholder="0" type="number" /> </div>
          </div>
          <div class="row">
            <div class="large-6 columns text-right">Special Discount</div>
            <div class="large-6 columns text-left"><input class="input-text" placeholder="9,999,999" type="number" /> </div>
          </div>
          <div class="row">
            <div class="large-6 columns text-right">Tax</div>
            <div class="large-6 columns text-left"><input class="input-text" type="number" /> % 1,826.00 </div>
          </div>
          <hr>
          <div class="row">
            <div class="large-6 columns text-right">Total</div>
            <div class="large-6 columns text-left">THB 41,585.31</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from './components/SideBar'

import Order from './components/Order'
import Product from './components/Product'
import OrderDetail from './components/OrderDetail'
import Remark from './components/Remark'
import '../public/css/nimbl.scss'


export default {
  name: 'app',
  data() {
    return {
      gridColumns: ['sku', 'description','brand','listPrice','discount','netPrice','qty','total'],
      gridData: [
        { sku: 'TN SO 000015', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 880', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000016', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 980', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000017', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 1080', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000018', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 870', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000019', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 480', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' },
        { sku: 'TN SO 000026', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 1200', discount: '30%', netPrice:'THB 660',qty:16,total:'THB 50,079,8823' }
      ],
      gridDataProduct: [
        { sku: 'TN SO 000015', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 880', qty:1},
        { sku: 'TN SO 000015', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 880', qty:1},
        { sku: 'TN SO 000015', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 880', qty:1},
        { sku: 'TN SO 000015', description : 'Magnetic contactor - 9A (5.5 kW\,7.5 HP)\, control voltage 230 Vac', brand: 'Schneider Electric', listPrice : 'THB 880', qty:1}
      ]
    }
  },
  components: {
    Order, SideBar, Product, OrderDetail, Remark
  }
}
</script>
<style lang="scss" scoped>
  @import '../public/css/nimbl.scss';
</style>
